.card_one {
    background-image: url("/images/Dripping_background.png");
    background-color: white;
    width: 90%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 20px;
    margin-top: 0px;
    padding: 50px;
    
}