header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 0px;
    background-color: colors.$main-color;
}

.logo {
    transform: scale(.7);
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

li {
    padding: 10px;
    padding-top: 30px;
    color: white;
    font-size: 18px;
}