.btn {
    max-width: 50px;
    width: 100%;
    min-height: 50px;
    height: 100%;
    border: 2px solid $main-color;
    border-radius: 50%;
    text-align: center;
    font: $primary-font $main-color;
    &:link {

    }
    &:active {

    }
    &:disabled {

    }
    &:hover {

    }
}