/*Main color*/
$main-color: #fd49a7;

/*White color, for text areas and text on pink background*/
$white: #fff;

/*Black letter color on white background*/
$black: #000;

/*Hover color for nav-bar*/
$green: #C4DCAC;