footer {
    background-image: url("/images/Footer_dripping.png");
    background-color: white;
    width: 1370px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin-left: 19px;

    
}

@media screen and (min-width:1920px) {
    footer {
        background-image: url("/images/Footer_dripping.png");
        background-color: white;
        width: 1850px;
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        margin-left: 19px;
    
        
    }
    
}

@media screen and (max-width:768px) {
    footer {
        background-image: url("/images/Footer_dripping.png");
        background-color: white;
        width: 712px;
        height: 280px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        margin-left: 20px;
    
        
    }
    
}

@media screen and (min-width:320px) and  (max-width:414px) {
    footer {
        background-image: url("/images/Footer_dripping.png");
        background-color: white;
        width: 264px;
        height: 100px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        margin-left: 20px;
    
        
    }
    
}
.logo_footer {
    transform: scale(.5);
    padding-left: 0px;
}

.footer_info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 150px;

}

.footer_icons {
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: center;
    
}

i {
    padding: 10px;
    padding-top: 60px;

}