@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Pacifico&display=swap");
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  padding-left: 0px;
  background-color: #fd49a7;
}

.logo {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  padding-left: 15px;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

li {
  padding: 10px;
  padding-top: 30px;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #aeff54;
}

.card_one {
  background-color: white;
  width: 1024;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 50px;
  border-radius: 70px 70px 0 0;
}

footer {
  background-image: url("/images/Footer_dripping.png");
  background-color: white;
  width: 1370px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin-left: 19px;
}

@media screen and (min-width: 1920px) {
  footer {
    background-image: url("/images/Footer_dripping.png");
    background-color: white;
    width: 1850px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin-left: 19px;
  }
}
@media screen and (max-width: 768px) {
  footer {
    background-image: url("/images/Footer_dripping.png");
    background-color: white;
    width: 712px;
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin-left: 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 414px) {
  footer {
    background-image: url("/images/Footer_dripping.png");
    background-color: white;
    width: 264px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin-left: 20px;
  }
}
.logo_footer {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  padding-left: 0px;
}

.footer_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 150px;
}

.footer_icons {
  font-size: 24px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

i {
  padding: 10px;
  padding-top: 60px;
}

footer {
  background-image: url("/images/Footer_dripping.png");
  background-color: white;
  width: 1370px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin-left: 19px;
}

@media screen and (min-width: 1920px) {
  footer {
    background-image: url("/images/Footer_dripping.png");
    background-color: white;
    width: 1850px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin-left: 19px;
  }
}
@media screen and (max-width: 768px) {
  footer {
    background-image: url("/images/Footer_dripping.png");
    background-color: white;
    width: 712px;
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin-left: 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 414px) {
  footer {
    background-image: url("/images/Footer_dripping.png");
    background-color: white;
    width: 264px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin-left: 20px;
  }
}
.logo_footer {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  padding-left: 0px;
}

.footer_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 150px;
}

.footer_icons {
  font-size: 24px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

i {
  padding: 10px;
  padding-top: 60px;
}

body {
  background-color: #fd49a7;
  font-family: "Josefin Sans", sans-serif;
}