@import 'font';
@import 'color';
@import 'padd-marg';
@import 'icons';
@import 'nav';


body {
    margin: auto;
    width: 100%;
    height: 100vh;
    background-color: $main-color;
  }

.card_one {
  background-image: url("/images/Dripping_background.png");
  background-color: white;
  // max-width: 1024px;
  min-height: 698px;
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px;
  padding-bottom: 50px;
  border-radius: 70px 70px 0 0;
  }

  .form-container {
    display: flex;
    flex-direction: row;

  }

.card_one_info {
    width: 50%;
    padding: $main-margin;
  }

.heading {
    font-size: 3em;
    font-family: $logo-font;
    color: $main-color;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 5px;
  }


.info, .info__info {
  font-family: $primary-font;
  color: $black;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  line-height: 1.4em;
  width: 60%;
}

span {
  color: $main-color;
  font-size: 1.25em;
}

.form__card {
  padding-top: $main-padding;
  margin-right: $main-margin;
  margin-left: $main-margin;
  padding-left: $main-padding;
  padding-right: $main-padding;
  width: 50%;
}

form {
  width: 80%;

}

.label {
  font-family: $primary-font;
  color: $black;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1em;
  display: inline-block;
  box-sizing: border-box;
  &::before {
    content: "*";
    color: $main-color;
    font-size: 1.25em;
    margin-right: 0.25em;
  }
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin-top: 11px;
  margin-bottom: 11px;
  margin-right: $main-margin;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid rgba(33,33,33,.2);
  border-radius: 8px;
  transition: .3s box-shadow border-color;
  &:focus, &:hover {
    box-shadow: 0 0 11px  rgba(33,33,33,.2);
  }
  &:focus {
    border: 3px solid $main-color;
    outline: none;
    box-shadow: 0 0 11px  rgba(33,33,33,.2);
  }
}

.name__input, .email__input, .subject__input {
  font-family: $primary-font;
  color: $black;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
}

.message__textarea {
  font-family: $primary-font;
  color: $black;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  width: 100%;
  padding: 12px 20px;
  margin: 11px 0px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid rgba(33,33,33,.2);
  resize: none;
  transition: .3s box-shadow;
  &:focus, &:hover {
    box-shadow: 0 0 11px  rgba(33,33,33,.2);
  }
  &:focus {
    border: 3px solid $main-color;
    outline: none;
    box-shadow: 0 0 11px  rgba(33,33,33,.2);
  }
}

.btn__container {
  margin-bottom: $main-margin;
  margin-top: $main-margin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  // max-width: 600px;
  width: 50%;
  border: 3px solid $main-color;
  border-radius: 8px;
  text-align: center;
  background-color: white;
  padding: 1em;
  font-family: $primary-font;
  font-size: 1.5em;
  color: $main-color;
  transition: 0.35s;
      &:hover, &:active, &:focus {
          background-color: $main-color;
          color: $white;
          cursor: pointer;
          outline: none;
      }
  }
